trigger:
  branches:
    include:
      - master

pr:
  branches:
    include:
      - master

parameters:
  - name: runWindows
    displayName: 'Run Windows Tests'
    type: boolean
    default: true
  - name: runLinux
    displayName: 'Run Linux UI Tests'
    type: boolean
    default: true

resources:
  repositories:
    - repository: externalRepo
      type: github
      name: v-xuto/TypespecAutomation
      endpoint: xuto_pat
      ref: wenjie-dev0

stages:
  - stage: WindowsTests
    condition: eq('${{ parameters.runWindows }}', true)
    jobs:
      - template: windows-tests-stage.yml

  - stage: LinuxTests
    dependsOn: []
    condition: eq('${{ parameters.runLinux }}', true)
    jobs:
      - template: linux-tests-stage.yml
